<footer class="footer">
  <div class="footer-section">
    <span>&copy; <script>
        document.write(new Date().getFullYear())
      </script> Book Library</span>
  </div>
  <div class="footer-section">
    <span>All Rights Reserved</span>
  </div>
  <div class="footer-section">
    <span>Designed & Powered by
      <a href="https://www.developer.musied.io/" class="footer-link">Musied Group</a>
    </span>
  </div>
</footer>