<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Mybrary</a>
    <button class="menu-toggle" aria-label="Toggle navigation">
      &#9776;
      <!-- Hamburger icon -->
    </button>
    <ul class="nav-links">
      <li><a href="/books">Books</a></li>
      <li><a href="/books/new">Add Book</a></li>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">Add Author</a></li>
    </ul>
  </nav>
</header>