:root {
  --nav-title-font-size: 2rem;
  --nav-title-font-weight: bold;
  --nav-link-font-weight: 300;
}

.header-title {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: var(--nav-title-font-size);
  font-weight: var(--nav-title-font-weight);
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-nav .nav-links {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav li {
  list-style: none;
}

.header-nav li a {
  text-decoration: none;
  color: var(--color-text-light);
  font-weight: var(--nav-link-font-weight);
  padding: 1rem;
}

.header-nav li a:hover,
.header-title:hover {
  color: white;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--color-text-light);
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-title {
    font-size: var(calc(--nav-title-font-size) - 0.5rem);
  }

  .header-nav .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 1rem;
    width: 45%;
    background: var(--color-header-background);
  }

  .header-nav li {
    text-align: right;
    width: 100%;
    padding: 1rem 2rem;
  }

  .header-nav .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
